.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px;
  white-space: nowrap;
}

//搜索框
.search-bar {
  height: 40px;
  display: flex;
  width: 100%;
  max-width: 500px;
  padding-left: 16px;
  border-radius: 4px;

  input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--search-bg);
    border-radius: 30px;
    font-family: var(--body-font);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px 0 60px;
    box-shadow: 0 0 0 2px #868ca005;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 30px 48%;
    color: var(--theme-color);
    outline: none;
  }
}

//头像
.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.about {
  @media screen and (max-width: 945px) {
    display: none;
  }
}


.yx-tag{
  background: #10b981;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.25rem 0.4rem;
  border-radius: 6px;
}

.trfo {
  transform: scaleX(-1);
}
