// .el-slider__button-wrapper {
//     display: none;
// }

.footer-player .el-slider__button-wrapper {
    display: none;
}

.drawer-bg .el-slider__button-wrapper {
    display: none;
}

.mask-gradient {
    mask-image: linear-gradient(#000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent);
}

.drawer-bg {
    position: relative;
    overflow: hidden;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-repeat: no-repeat;
    --track-cover: var(--track-cover-url, none);
}

.drawer-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--track-cover);
    /* 使用自定义属性 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(70px);
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0));
}

.el-tabs__content {
    // overflow-x: hidden !important;
    height: 100%;
}