@import './md.css';

// html.dark {
// 	color: #e5e7eb;
// 	background: #121212;
// }

.prose {
	scroll-behavior: smooth;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	@apply bg-blue-700 bg-opacity-75;
	background: repeating-linear-gradient(90deg, #00dc82 0, #34cdfe 50%, #0047e1);
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

/*
* 全局滚动条
*/
::-webkit-scrollbar {
	width: 8px;
	height: 11px;
	background-color: rgb(246, 247, 248);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(233, 236, 239);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgb(246, 247, 248);
	border-radius: 10px;
}

html {
	background-color: #dde2eb;
	height: 100%;
}

.el-table .el-table__cell {
	padding: 14px 0;
}
.el-table {
	font-size: 15px;
	--el-table-border-color: none;
	--el-table-border: none;
	--el-table-text-color: var(--prism-color);
	--el-table-header-text-color: var(--el-text-color-secondary);
	--el-table-row-hover-bg-color: var(--el-fill-color-light);
	--el-table-current-row-bg-color: var(--el-color-primary-light-9);
	--el-table-header-bg-color: var(--prism-background1);
	--el-table-fixed-box-shadow: var(--el-box-shadow-light);
	--el-table-bg-color: var(--prism-background1);
	--el-table-tr-bg-color: var(--prism-background1);
	--el-table-expanded-cell-bg-color: var(--el-fill-color-blank);
	--el-table-fixed-left-column: inset 10px 0 10px -10px rgba(0, 0, 0, 0.15);
	--el-table-fixed-right-column: inset -10px 0 10px -10px rgba(0, 0, 0, 0.15);
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.about {
	margin-left: 40px;
	a {
		text-decoration: none;
		padding: 0 10px;
		color: var(--prism-color);
	}
}
.playerButton{
	margin: 5px 0 10px 0;
}
