
.playerbox {
	display: flex;
	flex-direction: row;
	padding: 15px 10px 5px;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--border-color);
	position: relative;
}
.aplayer {
	display: flex;
	flex-direction: row;
}
.el-slider__button-wrapper {
	display: none;
}
.m-slider {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	span {
		line-height: 32px;
		margin: 0px 10px;
		width: 50px;
	}
}
.r-slider {
	width: 50px;
}
.btns {
	z-index: 9999;
}
.MusicList {
	// display: flex;
	// justify-content: flex-start;
	margin-left: 10px;
}
.m-btns {
	display: flex;
	margin: 0 auto;
	a {
		margin: 0 10px;
	}
	// img {
	// 	width: 30px;
	// 	height: 30px;
	// }
}

.slider-demo-block {
	img {
		margin: 5px 10px 0;
	}
}

.Musicice {
	width: 22px;
	margin-top: 5px;
}
.m-tandc {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 9999;
	cursor: pointer;
	img {
		width: 91px;
	}
}
.rightvoice {
	position: absolute;
	right: 0;
	bottom: 30px;
	margin-right: 20px;
}
.titleandsinger {
	display: flex;
	flex-direction: column;
	a {
		padding: 8px;
		text-decoration: none;
		color: var(--prism-color);
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 15px;
		transition: 0.3s;
	}
}
.prismColor {
	color: var(--prism-color);
}
.comments{
	margin-top: 160px;
}
