.comms-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  color: var(--theme-color);
  gap: 10px;
}

.comm-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(25% - 20px);
  font-size: 16px;
  background-color: var(--content-bg);
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;

  .Avatar {
    margin-left: 10px;
  }

  .app-card span {
    display: flex;
    align-items: center;
  }
}

.text-13 {
  font-size: 13px;
}

.comm-card__subtext {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6em;
  margin-top: 20px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 20px;
}

.comm-card-buttons {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: space-between;
  font-size: 12px;
}

.comm-card:hover {
  transform: scale(1.02);
  background-color: var(--theme-bg-color);
}
