
.yx-col-4 {
  display: block;
  flex: 0 0 16.666666666666664%;
  max-width: 16.666666666666664%;
}

.yx-col-offset-4 {
  margin-inline-start: 16.666666666666664%;
}

.yx-col-6 {
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
}

.yx-col-offset-6 {
  margin-inline-start: 25%;
}

.yx-col-8 {
  display: block;
  flex: 0 0 33.33333333333333%;
  max-width: 33.33333333333333%;
}

.yx-col-12 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}

.yx-col-offset-8 {
  margin-inline-start: 33.33333333333333%;
}

.text-ellipsis {
  text-overflow: ellipsis;   /* 使得超出容器的文本显示省略号 */
  overflow: hidden;          /* 隐藏溢出容器的内容 */
  white-space: nowrap;       /* 确保文本在一行内显示，不换行 */
}


//过渡效果 observer_item的过渡效果
.come-in {
  opacity: 1;
  transform: translateY(150px);
  animation: come-in 1s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 1s;
}

.already-visible {
  opacity: 1;
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  100% {
    transform: translateY(0);
  }
}

.opaque {
  opacity: 0;
}
