html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #f8f8f8;
  --prism-background1: #fff;
  --prism-comment: #868e96;
  --prism-namespace: #444444;
  --prism-string: #bc8671;
  --prism-punctuation: #80817d;
  --prism-literal: #36acaa;
  --prism-keyword: #d73a49;
  --prism-function: #0c4c7d;
  --prism-deleted: #9a050f;
  --prism-class: #2b91af;
  --prism-builtin: #800000;
  --prism-property: #ce9178;
  --prism-regex: #ad502b;
  --prism-color: var(--theme-color);
  --prism-player-bg: rgba(255, 255, 255, 0.5);
  --chat-text-bg:#f1f2f6;
  --msg-date: #626466;
  --chat-header-bg: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 0) 100%);
}

html.dark {
  --prism-foreground: #d4d4d4;
  --prism-background: #1e1e1e;
  --prism-background1: #22272e;
  --prism-namespace: #aaaaaa;
  --prism-comment: #868e96;
  --prism-namespace: #444444;
  --prism-string: #ce9178;
  --prism-punctuation: #d4d4d4;
  --prism-literal: #36acaa;
  --prism-keyword: #0ca678;
  --prism-function: #dcdcaa;
  --prism-deleted: #9a050f;
  --prism-class: #4ec9b0;
  --prism-builtin: #d16969;
  --prism-property: #ce9178;
  --prism-regex: #ad502b;
  --prism-color: #fff;
  --prism-player-bg: #1e1e1e;
  --chat-text-color: #b5b7ba;
  --msg-date: #fff;
  --chat-header-bg: linear-gradient(to bottom,
          #27292d 0%,
          #27292d 78%,
          rgba(255, 255, 255, 0) 100%);
}
