.Music-App {
  width: auto;
  margin: 0 30px;
  box-sizing: border-box;
  max-height: 860px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 5px 16px #0000001a;
  background-color: var(--prism-background);
  min-width: 750px;
  height: 90vh;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.sidebar {
  width: 240px;
  background-color: #343a40;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.main-container {
  position: relative;
  overflow: hidden; /* 若需要在 '.main-container' 中滚动，从 'hidden' 改为 'auto' */
}

.content-wrapper {
  padding: 20px;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.2s;
}

.fade-transform-enter-from {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(30px);
}

